<!DOCTYPE html>
  <head>
  	<title>Solidity Free HTML5 Template</title>
    <meta name="description" content="">
	<meta name="keywords" content="" />
<!--

Solidity Template

http://www.templatemo.com/tm-407-solidity

-->
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/zoom/css/animate.css">

	<link rel="stylesheet" href="/zoom/css/templatemo_style.css">
    <!-- JavaScripts -->
	<script src="/zoom/js/jquery-1.10.2.min.js"></script>
	<script src="/zoom/js/jquery.singlePageNav.js"></script>
	<script src="/zoom/js/jquery.flexslider.js"></script>
	
	<script src="/zoom/js/custom.js"></script>
     <script src="/zoom/js/jquery-1.10.2.min.js"></script>
	<script src="/zoom/js/jquery.lightbox.js"></script>
	<script src="/zoom/js/templatemo_custom.js"></script>
    <script src="/zoom/js/jquery-git2.js"></script><!-- previous next script -->
  </head>
  <body>
  <!-- title start -->
 





<!-- portfolio start -->


            	<div class="gallery-item">
							<img  src="/uploads/<%= Car.image %>" style="width:400px" height="300px" >
							<div class="overlay" >
								<a  src="/uploads/<%= Car.image %>"  data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
				</div>
 
<!-- portfolio end -->


  </body>
</html>